@import "colors.css";

#usp-outer{
    height: 100vh;
}

#usp{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: var(--color1);
}

#usp > p{
    width: 60%;
}