@import "colors.css";

#who {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#who-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 1px solid white;
}

#who-left > div {
  padding: 50px;
  height: auto;
}

#who-right {
  border: 1px solid white;
}

#who > p {
  width: 60%;
}
/* 
#who Link {
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 6px;
  padding: 8px;
  text-decoration: none;
  color: white;
  margin: 0 20px;
} */
