@import "colors.css";

#why {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#why > p {
  width: 60%;
}

#why > a {
  border: 1px solid white;
  text-decoration: none;
  padding: 10px 15px;
  margin-top: 25px;
}
